<%= form_for ([@current_post, @current_comment]) do |f| %>
  <p>
    <%= f.label "Edit your comment:" %><br>
    <%= f.text_area :body %>
  </p>

  <%#= f.hidden_field :user_id, value: current_user.id %>

  <p>
    <%= f.submit %>
  </p>

<% end %>